In [26]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [27]:
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

In [28]:
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [29]:
mouse_study = pd.merge(study_results, mouse_metadata, on="Mouse ID", how="left")
mouse_study

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,f932,0,45.000000,0,Ketapril,Male,15,29
2,g107,0,45.000000,0,Ketapril,Female,2,29
3,a457,0,45.000000,0,Ketapril,Female,11,30
4,c819,0,45.000000,0,Ketapril,Male,21,25
...,...,...,...,...,...,...,...,...
1888,r944,45,41.581521,2,Capomulin,Male,12,25
1889,u364,45,31.023923,3,Capomulin,Male,18,17
1890,p438,45,61.433892,1,Ceftamin,Female,11,26
1891,x773,45,58.634971,4,Placebo,Female,21,30
1892,b879,45,72.555239,2,Stelasyn,Female,4,26

In [30]:
number_mice = len(mouse_study["Mouse ID"].unique())
number_mice

249

In [31]:
items_counts = mouse_study['Mouse ID'].value_counts(sort=False)
top = items_counts.loc[[items_counts.idxmax()]]
value, count = top.index[0], top.iat[0]
top

Mouse ID
g989    13
Name: count, dtype: int64

In [32]:
dup_mouse = mouse_study.loc[mouse_study["Mouse ID"]=="g989"]
dup_mouse

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
107,g989,0,45.000000,0,Propriva,Female,21,26
137,g989,0,45.000000,0,Propriva,Female,21,26
329,g989,5,48.786801,0,Propriva,Female,21,26
360,g989,5,47.570392,0,Propriva,Female,21,26
620,g989,10,51.745156,0,Propriva,Female,21,26
681,g989,10,49.880528,0,Propriva,Female,21,26
815,g989,15,51.325852,1,Propriva,Female,21,26
869,g989,15,53.442020,0,Propriva,Female,21,26
950,g989,20,55.326122,1,Propriva,Female,21,26
1111,g989,20,54.657650,1,Propriva,Female,21,26
1195,g989,25,56.045564,1,Propriva,Female,21,26
1380,g989,30,59.082294,1,Propriva,Female,21,26
1592,g989,35,62.570880,2,Propriva,Female,21,26

In [33]:
clean_mice = mouse_study.loc[mouse_study["Mouse ID"]!="g989",:]
clean_mice

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,f932,0,45.000000,0,Ketapril,Male,15,29
2,g107,0,45.000000,0,Ketapril,Female,2,29
3,a457,0,45.000000,0,Ketapril,Female,11,30
4,c819,0,45.000000,0,Ketapril,Male,21,25
...,...,...,...,...,...,...,...,...
1888,r944,45,41.581521,2,Capomulin,Male,12,25
1889,u364,45,31.023923,3,Capomulin,Male,18,17
1890,p438,45,61.433892,1,Ceftamin,Female,11,26
1891,x773,45,58.634971,4,Placebo,Female,21,30
1892,b879,45,72.555239,2,Stelasyn,Female,4,26

In [34]:
clean_mice_num = len(clean_mice["Mouse ID"].unique())
clean_mice_num

248

In [36]:
by_regimen = clean_mice.groupby(["Drug Regimen"])
regimen_stats = pd.DataFrame(by_regimen[["Tumor Volume (mm3)"]].mean())
regimen_stats = regimen_stats.rename(columns={"Tumor Volume (mm3)": "Mean Tumor Volume"})
regimen_stats

              Mean Tumor Volume
Drug Regimen
Capomulin             40.675741
Ceftamin              52.591172
Infubinol             52.884795
Ketapril              55.235638
Naftisol              54.331565
Placebo               54.033581
Propriva              52.320930
Ramicane              40.216745
Stelasyn              54.233149
Zoniferol             53.236507

In [40]:
second_stats = pd.DataFrame(by_regimen[["Tumor Volume (mm3)"]].median())
second_stats = second_stats.rename(columns={"Tumor Volume (mm3)": "Median Tumor Volume"})
second_stats

              Median Tumor Volume
Drug Regimen
Capomulin               41.557809
Ceftamin                51.776157
Infubinol               51.820584
Ketapril                53.698743
Naftisol                52.509285
Placebo                 52.288934
Propriva                50.446266
Ramicane                40.673236
Stelasyn                52.431737
Zoniferol               51.818479

In [41]:
third_stats = pd.DataFrame(by_regimen[["Tumor Volume (mm3)"]].var())
third_stats = third_stats.rename(columns={"Tumor Volume (mm3)": "Tumor Volume Variance"})
third_stats

              Tumor Volume Variance
Drug Regimen
Capomulin                 24.947764
Ceftamin                  39.290177
Infubinol                 43.128684
Ketapril                  68.553577
Naftisol                  66.173479
Placebo                   61.168083
Propriva                  43.852013
Ramicane                  23.486704
Stelasyn                  59.450562
Zoniferol                 48.533355

In [42]:
fourth_stats = pd.DataFrame(by_regimen[["Tumor Volume (mm3)"]].std())
fourth_stats = fourth_stats.rename(columns={"Tumor Volume (mm3)": "Tumor Volume Std. Dev."})
fourth_stats

              Tumor Volume Std. Dev.
Drug Regimen
Capomulin                   4.994774
Ceftamin                    6.268188
Infubinol                   6.567243
Ketapril                    8.279709
Naftisol                    8.134708
Placebo                     7.821003
Propriva                    6.622085
Ramicane                    4.846308
Stelasyn                    7.710419
Zoniferol                   6.966589

In [43]:
fifth_stats = pd.DataFrame(by_regimen[["Tumor Volume (mm3)"]].sem())
fifth_stats = fifth_stats.rename(columns={"Tumor Volume (mm3)": "Tumor Volume Std. Err."})
fifth_stats

              Tumor Volume Std. Err.
Drug Regimen
Capomulin                   0.329346
Ceftamin                    0.469821
Infubinol                   0.492236
Ketapril                    0.603860
Naftisol                    0.596466
Placebo                     0.581331
Propriva                    0.544332
Ramicane                    0.320955
Stelasyn                    0.573111
Zoniferol                   0.516398

In [44]:
summary_one = regimen_stats.merge(second_stats, on=["Drug Regimen"]).join(third_stats,
                                                               on="Drug Regimen")
summary_one

              Mean Tumor Volume  Median Tumor Volume  Tumor Volume Variance
Drug Regimen
Capomulin             40.675741            41.557809              24.947764
Ceftamin              52.591172            51.776157              39.290177
Infubinol             52.884795            51.820584              43.128684
Ketapril              55.235638            53.698743              68.553577
Naftisol              54.331565            52.509285              66.173479
Placebo               54.033581            52.288934              61.168083
Propriva              52.320930            50.446266              43.852013
Ramicane              40.216745            40.673236              23.486704
Stelasyn              54.233149            52.431737              59.450562
Zoniferol             53.236507            51.818479              48.533355

In [45]:
summary_stats = summary_one.merge(fourth_stats, on=["Drug Regimen"]).join(fifth_stats, on="Drug Regimen")
summary_stats

,Mean Tumor Volume,Median Tumor Volume,Tumor Volume Variance,Tumor Volume Std. Dev.,Tumor Volume Std. Err.
Drug Regimen,,,,,
Capomulin,40.675741,41.557809,24.947764,4.994774,0.329346
Ceftamin,52.591172,51.776157,39.290177,6.268188,0.469821
Infubinol,52.884795,51.820584,43.128684,6.567243,0.492236
Ketapril,55.235638,53.698743,68.553577,8.279709,0.603860
Naftisol,54.331565,52.509285,66.173479,8.134708,0.596466
Placebo,54.033581,52.288934,61.168083,7.821003,0.581331
Propriva,52.320930,50.446266,43.852013,6.622085,0.544332
Ramicane,40.216745,40.673236,23.486704,4.846308,0.320955
Stelasyn,54.233149,52.431737,59.450562,7.710419,0.573111
Zoniferol,53.236507,51.818479,48.533355,6.966589,0.516398